<style>

div.delete{
    color: red;
    text-align: right;

}

.margin{

    margin-left: 4%

}



</style>

Clients:
<br>
<div>
<table>
{% for client in client_list %}
    <div>
        <tr>
        <td><a href='{% url "GILTI:subdetail" client.id %}'>{{client}}</a></td>
        <td><a href='{% url "GILTI:updateclient" client.id %}' style="color: blue;">Edit Client</a></td>
        <td><a href='{% url "GILTI:clientdelete" client.id %}' style="color: red;">DELETE</a></td>
        </tr>
    </div>
{% endfor %}
</table>
<br>

<a href='{% url "GILTI:createclient" %}' style="color: green;">Add Client</a>