<a>Client: {{sub.client}} </a>
<br>
<a>Name: {{sub.name}} </a>
<br>
<a>Country: {{sub.country}}</a>
<br>
<a>Ownership: {{sub.ownership}}%</a>
<br>
<a>Reference: {{sub.ref}}</a>
<br>
<br> 
<a>Gross Income: {{sub.gross_income}} $</a>
<br>
<a>ECI: {{sub.eci}} $</a>
<br>
<a>Subpart F: {{sub.sub_f}} $</a>
<br>
<a>Related Party Dividends: {{sub.rp_div}} $</a>
<br>
<a>Forigen Taxes Paid: {{sub.for_tax}} $</a>
<br>
<a>Qualified Buisness Asset Investment: {{sub.qbai}} %</a>
<br>
<a>Interest Expense: {{sub.int_exp}}$</a>
